<!DOCTYPE html>
<html lang="en">
<head>
    <! bootstrap css>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/TCR-PEP-Website/static/floating-labels.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Help Page</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

        <div class="help_text">
            <h4><b>The input and output should be in the following format</b></h4>
                <ul>
                    <br>
                    <li>
                        <h5><b>Input files</b></h5><br>
                        <table class="table">
                          <thead>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th> <td>PAFAH1B1</td> <td>DMTIKLWDF</td> <td>p.E183K</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th> <td>ABCF3</td> <td>FYYDPKHVI</td> <td>p.L511F</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th> <td>TFDP2</td> <td>FLTPNSHQS</td> <td>A406T</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th> <td>ZMYM4</td> <td>HEVNYQNVV</td> <td>H203Y</td>
                            </tr>
                            <tr>
                              <th scope="row">5</th> <td>FLNA</td> <td>CVRVSGQGL</td> <td>R2049C</td>
                            </tr>
                            <tr>
                              <th scope="row">6</th> <td>GNB5</td> <td>RVSTLRVSL</td> <td>P377L</td>
                            </tr>
                            <tr>
                              <th scope="row">7</th> <td>KIF16B</td> <td>APARLERRH</td> <td>L1020P</td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                    </li>
                    <li>
                        <h5><b>The output of the samples above will be presented in the next format: </b></h5>
                                                <table class="table">
                          <thead>
                          </thead>
                          <tbody>
                            <tr>
                                <td>DMTIKLWDF</td> <td>0.376194506318</td>
                            </tr>
                            <tr>
                                <td>FYYDPKHVI</td> <td>0.504479732796</td>
                            </tr>
                            <tr>
                                <td>FLTPNSHQS</td> <td>0.444512620677</td>
                            </tr>
                            <tr>
                                <td>HEVNYQNVV</td> <td>0.335754378886</td>
                            </tr>
                            <tr>
                                <td>CVRVSGQGL</td> <td>0.610453914808</td>
                            </tr>
                            <tr>
                                <td>RVSTLRVSL</td> <td>0.508901283823</td>
                            </tr>
                            <tr>
                                <td>APARLERRH</td> <td>0.475192620009</td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                    </li>
                    <li>
                        <h5><a href="{{url_for('download_example')}}" target="_blank">Download Example</a></h5>
                        <br>
                        The left column will be the peptides sequences and on the right column will be the score for
                        T cell activation To download the results click on "Download Example"
                    </li>
                </ul>
        </div>

    <! bootstrap >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% endblock %}
</body>
</html>
