<!DOCTYPE html>
<html lang="en">
<head>
    <! bootstrap css>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/TCR-PEP-Website/static/floating-labels.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Help Page</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

        <div class="help_text">
            <h4><b>The input and output should be in the following .csv format:</b></h4>
                <ul>
                    <br>
                    <li>
                        <h5><b>Input file - every row must have a TCR and a peptide</b></h5><br>
                        <table class="table">
                          <thead>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th> <td>CASSQGLAGDEQF</td> <td>EIYKRWII</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th> <td>CASSEVGKGNQPQHF</td> <td>LPRRSGAAGA</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th> <td>CASSLSTSSRNYGYTF</td> <td>LPRRSGAAGA</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th> <td>CASTQEPGELFF</td> <td>GLCTLVAML</td>
                            </tr>
                            <tr>
                              <th scope="row">5</th> <td>CASGPGSSYNEQFF</td> <td>GILGFVFTL</td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                    </li>
                    <li>
                        <h5><b>The output of the samples above will be presented in the next .csv format: </b></h5>
                                                <table class="table">
                          <thead>
                          </thead>
                          <tbody>
                            <tr>
                                <td>CASSQGLAGDEQF</td> <td>EIYKRWII</td> <td>0.3809</td>
                            </tr>
                            <tr>
                                <td>CASSEVGKGNQPQHF</td> <td>LPRRSGAAGA</td> <td>0.2262</td>
                            </tr>
                            <tr>
                                <td>CASSLSTSSRNYGYTF</td> <td>LPRRSGAAGA</td> <td>0.0687</td>
                            </tr>
                            <tr>
                                <td>CASTQEPGELFF</td> <td>GLCTLVAML</td> <td>0.0174</td>
                            </tr>
                            <tr>
                                <td>CASGPGSSYNEQFF</td> <td>GILGFVFTL</td> <td>0.5640</td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                    </li>
                    <li>
                        <h5><a href="{{url_for('download_example')}}" target="_blank">Download example data</a></h5>
                        <br>
                        The left and middle columns will be the TCRs and the peptides sequences.<br>
                        The right column will be the predicted binding score for every TCR-peptide pair.<br>
                        To download an extended example, click on "Download Example data".
                    </li>
                </ul>
        </div>

    <! bootstrap >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% endblock %}
</body>
</html>
