<!DOCTYPE html>
<html lang="en">
<head>
    <! bootstrap css>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/TCR-PEP-Website/static/floating-labels.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Help Page</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
        <div class="help_text">
            <h4><b>Instructions for running the T cell activation predictor.</b></h4>
                <ul>
                    <br>
                    <li>
                        <h5><b>1. Specify input </b></h5>
                        The input file must be in the same template as the example. (case sensitive)<br>
                        The file should  be a table with two columns, separated by tabs.<br>
                        The first column is TCRs CDR3-beta sequences, e.g: CASGDGNQAPLF <br>
                        When using the Autoencoder based model, TCR length should be at the most 28. The model will ignore longer sequences.<br>
                        The second column is the peptides, e.g: SYIPSAEKI .<br><br>
                    </li>
                    <li>
                        <h5><b>2. Submit to prediction </b></h5>
                        Click on the submit button to start the prediction<br><br>
                    </li>
                    <li>
                        <h5><b>3. Download results </b></h5>
                    </li>
                </ul>
        </div>


    <! bootstrap >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% endblock %}
</body>
</html>
