<!DOCTYPE html>
<html lang="en">
<head>
    <! bootstrap css>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/TCR-PEP-Website/static/floating-labels.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Help Page</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

        <div class="help_text">
            <h4><b>Instructions for using ERGO, the TCR-Peptide binding predictor</b></h4>
                <ul>
                    <br>
                    <li>
                        <h5><b>1. Specify input</b></h5>
                        The input file must be in .csv format as in the example. (case sensitive)<br>
                        The file should be a table with two columns,<br>
                        The first column is for the TCRs CDR3-beta sequences, and the second column is for the peptides.<br>
                        ERGO expects TCR sequences to begin with Cysteine ('C') and finish with Phenylalanine ('F').<br>
                        Make sure your file contain only upper-cased amino-acid letters, without any other characters as '*', 'X' or non-ascii characters.<br>
                        The model prediction will crash for wrong input files.<br>
                        When using the Autoencoder based model, notice that the TCR length should be at most 28. The model will ignore longer TCR sequences. There is no length limit on the peptides.<br>
                        We recommend predicting up to 50,000 pairs at a time. For longer files, you can use
                        <a href="https://github.com/louzounlab/ERGO">our productive github repository</a> or split your file into chunks.<br><br>
                    </li>
                    <li>
                        <h5><b>2. Model Type </b></h5>
                        Choose the model for the prediction.<br>
                        ERGO uses two distinct models: the autoencoder based model or the LSTM based model.<br>
                        The autoencoder model is way faster than the LSTM one, although it has a TCR length limit as mentioned above.<br><br>
                    </li>
                    <li>
                        <h5><b>3. Submit to prediction </b></h5>
                        Click on the 'predict' button to get the binding prediction scores.<br><br>
                    </li>
                    <li>
                        <h5><b>4. Download results </b></h5>
                    </li>
                </ul>
        </div>


    <! bootstrap >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% endblock %}
</body>
</html>
